<main>
  <app-stars />
  <h1>Todo-App</h1>
  <button class="logout-btn" type="button" (click)="onLogout()">Logout</button>
  <section>
    <h2><b>Neues Todo hinzufügen:</b></h2>
    <form>
      <input #title type="text" placeholder="Titel" (keydown.enter)="onAddTodo(title, description)" />
      <input #description type="text" placeholder="Beschreibung" (keydown.enter)="onAddTodo(title, description)" />
    </form>
    <button type="button" (click)="todoService.deleteAllTodos()">
      <span class="material-symbols-outlined">delete</span>
    </button>
    @if (todoService.todos().length === 0) {
      <p>Keine Todos vorhanden.</p>
    } @else {
      @for (todo of todoService.todos(); track todo.id) {
        <app-todo [todo]="todo" (deleted)="onDeleteTodo($event)" (updated)="onUpdateTodo($event)" />
      }
    }
  </section>
</main>
