<main>
  <h1>Todo-App</h1>
  <section>
    <h2><b>Neues Todo hinzufügen:</b></h2>
    <form>
      <input
        #title
        type="text"
        style="margin-right: 0.5%"
        placeholder="Titel"
        (keydown.enter)="addTodo(title.value, description.value, title, description)"
      />
      <input
        #description
        type="text"
        style="margin-left: 0.5%"
        placeholder="Beschreibung"
        (keydown.enter)="addTodo(title.value, description.value, title, description)"
      />
    </form>
    <button type="button" (click)="deleteTodos()">
      <span class="material-symbols-outlined">delete</span>
    </button>
    @if (todos() && todos().length === 0) {
      <p>Keine Todos vorhanden.</p>
    } @else if (todos()) {
      @for (todo of todos(); track todo.id) {
        <app-todo [todo]="todo" (todoDeleted)="refreshTodos()"></app-todo>
      }
    }
  </section>
</main>
