<main>
  <div class="stars" aria-hidden="true">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <form>
    <h1>Login</h1>
    <label for="username">Username</label>
    <input #username type="text" name="username" placeholder="Nutzername" required />
    <label for="email">E-Mail</label>
    <input #email type="email" name="email" placeholder="E-Mail" required />
    <label for="password">Password</label>
    <input #password type="password" name="password" placeholder="Passwort" required />
    <button type="button" (click)="loginService.login(username.value, email.value, password.value)">
      Login
    </button>
    <a href="/register">Noch keinen Account?</a>
  </form>
</main>
